<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="title">Post title:</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Post title"
      ngModel
      name="title"
      required
    />
  </div>
  <div class="form-group">
    <label for="img">Image URL:</label>
    <input
      type="text"
      class="form-control"
      placeholder="Image URL"
      ngModel
      name="img"
      (change)="onImgChange()"
      required
    />
    <div class="post-image">
      <img *ngIf="!viewImage" src="../../../assets/holder.PNG" alt="POST IMAGE" />
      <img *ngIf="viewImage" [src]="imageSrc" alt="POST IMAGE" />
    </div>
  </div>
  <div class="form-group">
    <label for="desc">Description:</label>
    <textarea
      class="form-control"
      rows="6"
      id="desc"
      placeholder="Post Description"
      ngModel
      name="desc"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save Post</button>
  </div>
</form>
